body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('company_logo.gif');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px 0;
}

header img {
    width: 200px; /* Adjust logo size */
    height: auto;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
    color: #ffffff;
}

main {
    padding: 20px 0;
}

section#games {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(to right, #7F00FF, #E100FF);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}

.btn:hover {
    background: linear-gradient(to right, #6A00B6, #AD00FF);
}


.game {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: #333333;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 0;
}
