/* Common CSS */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #7F00FF, #E100FF);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 700;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

footer {
    background: linear-gradient(to right, #536976, #292E49);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: relative;
}

.additional-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

.additional-links > div {
    flex: 0 0 50%; /* Two columns on desktop */
    padding: 0 10px;
}

.additional-links a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background: linear-gradient(to right, #7F00FF, #E100FF);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}

.additional-links a:hover {
    background: linear-gradient(to right, #6A00B6, #AD00FF);
}
