body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('company_logo.gif');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px 0;
}

header img {
    width: 200px; /* Adjust logo size */
    height: auto;
}

h1 {
    font-size: 60px;
    margin-top: 20px;
    color: #ffffff;
}

main {
    padding: 20px 0;
}

section#games {
    display: flex;
    justify-content: space-between;
}

.blurry-underline {
  position: relative;
  display: inline-block;
}

.blurry-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust this value as needed to control the distance of the underline from the text */
  width: 100%;
  height: 2px; /* Adjust this value as needed to control the thickness of the underline */
  background: rgba(0, 0, 0, 0.3); /* Adjust the color and opacity of the underline */
  filter: blur(3px); /* Adjust the blur radius as needed */
  border-radius: 2px; /* Adjust the border-radius as needed */
  z-index: -1;
}


.game {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: #333333;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px 0;
}
